.markdown {
    margin-top: 20px;
}

.markdown h1 {
    font-size: 1.5em!important;
}

.markdown h2 {
    font-size: 1.3em!important;
}

.markdown h3 {
    font-size: 1.2em!important;
    font-weight: 0!important;
}

.markdown p {
    padding: 0!important;
}

.markdown hr {
    border-block-end: 0!important;
    width: 80%!important;
}

.markdown ol,
.markdown ul {
    list-style-type: disc!important;
}

.markdown ul {
    padding-left: 0px!important;
}

.markdown li {
    padding-left: 15px;
}

.markdown a {
    color: var(--color-primary)!important;
}